#website-title {
  font-family: "abril-fatface", "Calistoga", serif;
  text-align: center;
  font-size: 200%;
}

body {
  font-family: "Futura Std", sans-serif;
  color: #111;
  margin: auto;
  max-width: 50em;
  background-color: #fffff8;
}

h1 {
  font-family: "abril-fatface", "Calistoga", serif;
  font-size: 175%;
}

h2 {
  font-family: "abril-fatface", "Calistoga", serif;
  font-size: 175%;
}

h3 {
  font-family: "Futura Std", sans-serif;
  font-size: 100%;
  font-weight: lighter;
  padding-left: 1em;
}

.page-content {
  margin: 1em;
}

#page-title h1 a,
.post a {
  color: #111;
}

a {
  text-decoration: none;
  color: #111;
}

#page-title a:hover,
.post a:hover {
  text-decoration: underline;
}

.date-time-font {
  font-family: "EB Garamond";
}

#posts {
  padding-left: 2em;
}

.post {
  padding-left: 1em;
}

.blog-post {
  padding-left: 1em;
  padding-right: 1em;
}

.post-container {
  display: block;
}

.post-tags {
  padding-left: 1em;
  padding-right: 1em;
}

.post-tag-list {
  list-style-type: none;
  display: inline-block;
  padding-left: 0;
}

.post-tag-list-item {
  white-space: nowrap;
  display: inline-block;
}

.post-date-time {
  white-space: nowrap;
}

.scrapbook-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
}
.scrapbook-item {
  background-color: white;
  padding: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  transform: rotate(1deg);
}
.scrapbook-item:nth-child(even) {
  transform: rotate(-1deg);
}
.scrapbook-item h2 {
  margin-top: 0;
}
@media (max-width: 350px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
