body {
    font-family: 'EB Garamond';
    color: #111;
    margin: auto;
    max-width: 50em;
    background-color: #fffff8;
}

#page-title {
    text-align: center;
	text-transform: uppercase
}

#page-title h1 a, .post a {
    color: #111;
}

a {
    text-decoration: none;
}

#page-title a:hover, .post a:hover {
    text-decoration: underline;
}

.date-time-font {
    font-family: 'EB Garamond';
}

#posts {
    padding-left: 2em;
}

.post {
    padding-left: 1em;
}

.blog-post {
    padding-left: 1em;
    padding-right: 1em;
}

.post-container {
    display: block;
}

.post-tags {
    padding-left: 1em;
    padding-right: 1em;
}

.post-tag-list {
    list-style-type: none;
    display: inline-block;
    padding-left: 0;
}

.post-tag-list-item {
    white-space: nowrap;
    display: inline-block;
}

.post-date-time {
    white-space: nowrap;
}

.page-content {
    margin: 1em;
}
